/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.select-trigger {
  position: relative;
}

.select-content {
  position: absolute;
  top: 100%; /* places below trigger */
  left: 0;
  width: 100%; /* matches trigger width */
  z-index: 10;
}
